.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 5%;
    background-color:deeppink;
    box-shadow: 0 2px 10px rgba(rgb(255, 0, 200));
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cabecalho-manu{
    diplay: block;
    unicode-bidi: isolate;
}

.cabecalho-menu-item{
    text-decoration: none;
    color:azure;
    margin: 0 15px;
    front-wegth: 600;
    transition:color 0.2s;
}

.cabecalho-menu-botao
background-color:black;
color























.problema-titulo{
    font-size: 3rem;
    color:blueviolet;
    line-height:1.2;
    margin-botton:20px;
}

.problema-paragrafo{
    font-size: 1.2rem;
    margin-botton: 30px;
    color:rgb(255, 0, 200);
}




.problema-paragrafo{
    font-size:1.2rem;
    margin-bottom:20px;
    color:aquamarine;
    ;
}
.problema.imagem{
    flex: 1;
    display:flex;
    justify-content:center;
}

problema-foto{
    width:100%;
    max-width:550px;
    heigth:auto;
    border-radius:12px;
    box-shadow:0 8px 24px color:rgb(255, 0, 200)
    
}